@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #eee ;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

.navbar__container{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar__logo{
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.navbar__link {
  border: 1.5px solid white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: all 0.2s ease-in;
}

.navbar__link:hover{
  background: #eee;
  color: #000;
}