@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #eee ;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

.link {
  color: rgb(95, 200, 241);
}

.navbar__container{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar__logo{
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.navbar__link {
  border: 1.5px solid white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: all 0.2s ease-in;
}

.navbar__link:hover{
  background: #eee;
  color: #000;
}

.loading__page {
  display: grid;
  place-items: center;
  z-index: 11;
  position: fixed;
  background-color: #333;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.loading__section{
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading__text {
  font-size: 1.9rem;
  font-weight: 500;
}

.loading__spinner {
  color: #ffffff;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
     -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
     -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
     -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
     -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.quote__list{
  padding: 1em 1.5em;
  margin: 1em;
  border-radius: 8px;
  display: grid;
  row-gap: 0.5em;
  background-color: rgb(250, 242, 242);
}

.quote__item {
  font-size: 0.8rem;
  font-family: cursive;
  color: #333;
}

/* CSS Utility classes */
.h-screen{ height: 100vh; }
.grid-center{ display: grid; place-items: center; }